{% extends 'base.html' %}
{% block content %}
<h2>{{ content_list.title }}</h2>
<div>
    {{ content_list.content }}
</div>
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <form method="post" class="mb-4" action="{% url 'comment_create' content_list.id %}">
                {% csrf_token %}
                <textarea id="content" name="content" class="form-control" rows="3" placeholder="내용을 입력해주세요."></textarea>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
            {% for comment in content_list.comment_set.all %}
            <div class="d-flex">
                <div class="ms-3">
                    <div class="fw-bold">{{ comment.author.username }} &nbsp {{ comment.create_date }}
                    {% if comment.create_date != comment.modify_date %}
                    / 수정일자: {{ comment.modify_date }}
                    {% endif %}
                    {% if request.user == comment.author %}
                        <a href="{% url 'comment_update' comment.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="{% url 'comment_delete' comment.id  %}" class="btn btn-sm btn-outline-secondary">삭제</a>
                    {% endif %}
                    </div>
                    {{ comment.content }}
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}